In [1]:
import numpy as np
import pandas as pd

In [2]:
census = pd.read_csv("census_data_What is Tensorflow.csv")

In [3]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
census.shape

(32561, 14)

In [5]:
# File summary
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   education_num   32561 non-null  int64
 4   marital_status  32561 non-null  object
 5   occupation      32561 non-null  object
 6   relationship    32561 non-null  object
 7   race            32561 non-null  object
 8   gender          32561 non-null  object
 9   capital_gain    32561 non-null  int64
 10  capital_loss    32561 non-null  int64
 11  hours_per_week  32561 non-null  int64
 12  native_country  32561 non-null  object
 13  income_bracket  32561 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.5+ MB

In [6]:
# Description / statistical parameter
census.describe()

                age  education_num  capital_gain  capital_loss  hours_per_week
count  32561.000000   32561.000000  32561.000000  32561.000000    32561.000000
mean      38.581647      10.080679   1077.648844     87.303830       40.437456
std       13.640433       2.572720   7385.292085    402.960219       12.347429
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       48.000000      12.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [7]:
# Check for missing value
census.isna().sum()

age               0
workclass         0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
gender            0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income_bracket    0
dtype: int64

In [8]:
# check for columns
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [12]:
census.nunique()

age                73
workclass           9
education          16
education_num      16
marital_status      7
occupation         15
relationship        6
race                5
gender              2
capital_gain      119
capital_loss       92
hours_per_week     94
native_country     42
income_bracket      2
dtype: int64

In [15]:
# output label is `income_bracket`
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [16]:
census['income_bracket'].value_counts()

 <=50K    24720
 >50K      7841
Name: income_bracket, dtype: int64

In [17]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [18]:
census['income_bracket'] = census['income_bracket'].apply(label_fix)

In [19]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [20]:
census['income_bracket'].value_counts()

0    24720
1     7841
Name: income_bracket, dtype: int64

In [21]:
# Input
X = census.drop(labels='income_bracket',axis=1)
X.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [22]:
# Output
y = census['income_bracket']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: income_bracket, dtype: int64

## Performing train_test_split on census data

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=101)

In [26]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

## Import tensorflow

In [27]:
import tensorflow as tf
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow\python\compat\v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [35]:
census.dtypes

age                int64
workclass         object
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
gender            object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income_bracket     int64
dtype: object

In [36]:
census[:4]

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0

### Create the tf.feature_column for the categorical values.

In [37]:
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass",hash_bucket_size=200)
education = tf.feature_column.categorical_column_with_hash_bucket("education",hash_bucket_size=200)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status",hash_bucket_size=200)
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation",hash_bucket_size=200)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship",hash_bucket_size=200)
race = tf.feature_column.categorical_column_with_hash_bucket("race",hash_bucket_size=200)
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender",["Female","Male"])
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country",hash_bucket_size=200)

WARNING:tensorflow:From C:\Users\sai\AppData\Local\Temp\ipykernel_9084\257583307.py:1: categorical_column_with_hash_bucket (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
Use Keras preprocessing layers instead, either directly or via the `tf.keras.utils.FeatureSpace` utility. Each of `tf.feature_column.*` has a functional equivalent in `tf.keras.layers` for feature preprocessing when training a Keras model.
WARNING:tensorflow:From C:\Users\sai\AppData\Local\Temp\ipykernel_9084\257583307.py:7: categorical_column_with_vocabulary_list (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
Use Keras preprocessing layers instead, either directly or via the `tf.keras.utils.FeatureSpace` utility. Each of `tf.feature_column.*` has a functional equivalent in `tf.keras.layers` for feature preprocessing when training a Keras model.

## Create the continuous feature column for the continuous values using numeric column

In [38]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

WARNING:tensorflow:From C:\Users\sai\AppData\Local\Temp\ipykernel_9084\2165217471.py:1: numeric_column (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
Use Keras preprocessing layers instead, either directly or via the `tf.keras.utils.FeatureSpace` utility. Each of `tf.feature_column.*` has a functional equivalent in `tf.keras.layers` for feature preprocessing when training a Keras model.

In [39]:
# Putting all these variables into one list
feat_cols = [workclass,education,marital_status,occupation,relationship,race,gender,native_country,age,education_num,
            capital_gain,capital_loss,hours_per_week]

## Create the input function

In [40]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True)

WARNING:tensorflow:From C:\Users\sai\AppData\Local\Temp\ipykernel_9084\2022762515.py:1: pandas_input_fn (from tensorflow_estimator.python.estimator.inputs.pandas_io) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.

## Create a model

In [41]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

WARNING:tensorflow:From C:\Users\sai\AppData\Local\Temp\ipykernel_9084\2847264636.py:1: LinearClassifier.__init__ (from tensorflow_estimator.python.estimator.canned.linear) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\canned\linear.py:990: Estimator.__init__ (from tensorflow_estimator.python.estimator.estimator) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\estimator.py:1844: RunConfig.__init__ (from tensorflow_estimator.python.estimator.run_config) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\sai\AppData\Local\Temp\tmppx7flcie
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\sai\\AppData\\Local\\Temp\\tmppx7flcie', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_checkpoint_save_graph_def': True, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [42]:
model.train(input_fn=input_func,steps=5000)

WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\estimator.py:385: StopAtStepHook.__init__ (from tensorflow.python.training.basic_session_run_hooks) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:60: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:491: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\canned\linear.py:736: linear_logit_fn_builder (from tensorflow_estimator.python.estimator.canned.linear) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\model_fn.py:250: EstimatorSpec.__new__ (from tensorflow_estimator.python.estimator.model_fn) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
INFO:tensorflow:Done calling model_fn.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\estimator.py:1416: NanTensorHook.__init__ (from tensorflow.python.training.basic_session_run_hooks) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\estimator.py:1419: LoggingTensorHook.__init__ (from tensorflow.python.training.basic_session_run_hooks) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow\python\training\basic_session_run_hooks.py:232: SecondOrStepTimer.__init__ (from tensorflow.python.training.basic_session_run_hooks) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\estimator.py:1456: CheckpointSaverHook.__init__ (from tensorflow.python.training.basic_session_run_hooks) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
INFO:tensorflow:Create CheckpointSaverHook.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow\python\training\monitored_session.py:579: StepCounterHook.__init__ (from tensorflow.python.training.basic_session_run_hooks) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow\python\training\monitored_session.py:586: SummarySaverHook.__init__ (from tensorflow.python.training.basic_session_run_hooks) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow\python\training\monitored_session.py:910: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\sai\AppData\Local\Temp\tmppx7flcie\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow\python\training\monitored_session.py:1455: SessionRunArgs.__new__ (from tensorflow.python.training.session_run_hook) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow\python\training\monitored_session.py:1454: SessionRunContext.__init__ (from tensorflow.python.training.session_run_hook) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow\python\training\monitored_session.py:1474: SessionRunValues.__new__ (from tensorflow.python.training.session_run_hook) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
INFO:tensorflow:loss = 69.31472, step = 1
INFO:tensorflow:global_step/sec: 176.932
INFO:tensorflow:loss = 135.92624, step = 101 (0.565 sec)
INFO:tensorflow:global_step/sec: 280.554
INFO:tensorflow:loss = 119.456215, step = 201 (0.356 sec)
INFO:tensorflow:global_step/sec: 285.421
INFO:tensorflow:loss = 170.78061, step = 301 (0.350 sec)
INFO:tensorflow:global_step/sec: 282.502
INFO:tensorflow:loss = 26.870422, step = 401 (0.354 sec)
INFO:tensorflow:global_step/sec: 282.838
INFO:tensorflow:loss = 54.028748, step = 501 (0.357 sec)
INFO:tensorflow:global_step/sec: 290.249
INFO:tensorflow:loss = 245.26382, step = 601 (0.342 sec)
INFO:tensorflow:global_step/sec: 318.065
INFO:tensorflow:loss = 155.33617, step = 701 (0.331 sec)
INFO:tensorflow:global_step/sec: 294.726
INFO:tensorflow:loss = 71.640366, step = 801 (0.323 sec)
INFO:tensorflow:global_step/sec: 331.111
INFO:tensorflow:loss = 173.47662, step = 901 (0.318 sec)
INFO:tensorflow:global_step/sec: 304.331
INFO:tensorflow:loss = 84.546906, step = 1001 (0.313 sec)
INFO:tensorflow:global_step/sec: 304.344
INFO:tensorflow:loss = 58.77684, step = 1101 (0.329 sec)
INFO:tensorflow:global_step/sec: 322.02
INFO:tensorflow:loss = 55.88551, step = 1201 (0.311 sec)
INFO:tensorflow:global_step/sec: 293.665
INFO:tensorflow:loss = 72.562225, step = 1301 (0.341 sec)
INFO:tensorflow:global_step/sec: 301.773
INFO:tensorflow:loss = 214.84726, step = 1401 (0.332 sec)
INFO:tensorflow:global_step/sec: 318.509
INFO:tensorflow:loss = 870.6676, step = 1501 (0.316 sec)
INFO:tensorflow:global_step/sec: 325.138
INFO:tensorflow:loss = 43.80445, step = 1601 (0.304 sec)
INFO:tensorflow:global_step/sec: 287.698
INFO:tensorflow:loss = 102.25618, step = 1701 (0.348 sec)
INFO:tensorflow:global_step/sec: 286.233
INFO:tensorflow:loss = 125.75968, step = 1801 (0.349 sec)
INFO:tensorflow:global_step/sec: 285.52
INFO:tensorflow:loss = 298.57535, step = 1901 (0.350 sec)
INFO:tensorflow:global_step/sec: 282.923
INFO:tensorflow:loss = 179.98032, step = 2001 (0.356 sec)
INFO:tensorflow:global_step/sec: 319.822
INFO:tensorflow:loss = 203.00237, step = 2101 (0.310 sec)
INFO:tensorflow:global_step/sec: 290.087
INFO:tensorflow:loss = 37.550995, step = 2201 (0.345 sec)
INFO:tensorflow:global_step/sec: 302.341
INFO:tensorflow:loss = 41.3762, step = 2301 (0.333 sec)
INFO:tensorflow:global_step/sec: 320.613
INFO:tensorflow:loss = 26.573551, step = 2401 (0.310 sec)
INFO:tensorflow:global_step/sec: 299.059
INFO:tensorflow:loss = 40.871124, step = 2501 (0.350 sec)
INFO:tensorflow:global_step/sec: 302.31
INFO:tensorflow:loss = 62.41135, step = 2601 (0.315 sec)
INFO:tensorflow:global_step/sec: 302.894
INFO:tensorflow:loss = 53.239456, step = 2701 (0.330 sec)
INFO:tensorflow:global_step/sec: 322.908
INFO:tensorflow:loss = 104.89963, step = 2801 (0.325 sec)
INFO:tensorflow:global_step/sec: 307.006
INFO:tensorflow:loss = 42.76517, step = 2901 (0.310 sec)
INFO:tensorflow:global_step/sec: 290.646
INFO:tensorflow:loss = 41.045914, step = 3001 (0.344 sec)
INFO:tensorflow:global_step/sec: 299.09

INFO:tensorflow:loss = 94.64112, step = 3101 (0.334 sec)
INFO:tensorflow:global_step/sec: 297.634
INFO:tensorflow:loss = 44.432358, step = 3201 (0.336 sec)
INFO:tensorflow:global_step/sec: 293.912
INFO:tensorflow:loss = 35.15501, step = 3301 (0.340 sec)
INFO:tensorflow:global_step/sec: 302.388
INFO:tensorflow:loss = 22.782866, step = 3401 (0.342 sec)
INFO:tensorflow:global_step/sec: 304.049
INFO:tensorflow:loss = 107.10656, step = 3501 (0.333 sec)
INFO:tensorflow:global_step/sec: 275.143
INFO:tensorflow:loss = 49.573067, step = 3601 (0.348 sec)
INFO:tensorflow:global_step/sec: 284.481
INFO:tensorflow:loss = 36.203392, step = 3701 (0.368 sec)
INFO:tensorflow:global_step/sec: 269.693
INFO:tensorflow:loss = 34.5601, step = 3801 (0.355 sec)
INFO:tensorflow:global_step/sec: 283.26
INFO:tensorflow:loss = 31.656174, step = 3901 (0.353 sec)
INFO:tensorflow:global_step/sec: 274.53
INFO:tensorflow:loss = 88.32926, step = 4001 (0.367 sec)
INFO:tensorflow:global_step/sec: 289.372
INFO:tensorflow:loss = 28.386093, step = 4101 (0.343 sec)
INFO:tensorflow:global_step/sec: 307.386
INFO:tensorflow:loss = 105.46358, step = 4201 (0.325 sec)
INFO:tensorflow:global_step/sec: 307.061
INFO:tensorflow:loss = 27.428877, step = 4301 (0.341 sec)
INFO:tensorflow:global_step/sec: 287.108
INFO:tensorflow:loss = 31.200102, step = 4401 (0.333 sec)
INFO:tensorflow:global_step/sec: 303.912
INFO:tensorflow:loss = 30.850342, step = 4501 (0.329 sec)
INFO:tensorflow:global_step/sec: 325.858
INFO:tensorflow:loss = 42.637432, step = 4601 (0.307 sec)
INFO:tensorflow:global_step/sec: 305.559
INFO:tensorflow:loss = 41.20986, step = 4701 (0.331 sec)
INFO:tensorflow:global_step/sec: 313.905
INFO:tensorflow:loss = 327.2841, step = 4801 (0.319 sec)
INFO:tensorflow:global_step/sec: 298.798
INFO:tensorflow:loss = 36.54374, step = 4901 (0.331 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 5000...
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\sai\AppData\Local\Temp\tmppx7flcie\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 5000...
INFO:tensorflow:Loss for final step: 96.6048.

In [43]:
# Prediction function
predict_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

In [44]:
predictions = list(model.predict(input_fn=predict_fn))

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\canned\head.py:596: ClassificationOutput.__init__ (from tensorflow.python.saved_model.model_utils.export_output) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\canned\head.py:1307: RegressionOutput.__init__ (from tensorflow.python.saved_model.model_utils.export_output) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
WARNING:tensorflow:From C:\Users\sai\anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\canned\head.py:1309: PredictOutput.__init__ (from tensorflow.python.saved_model.model_utils.export_output) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.keras instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\sai\AppData\Local\Temp\tmppx7flcie\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [45]:
predictions[0]

{'logits': array([-1.0132651], dtype=float32),
 'logistic': array([0.26634136], dtype=float32),
 'probabilities': array([0.7336587 , 0.26634136], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'all_class_ids': array([0, 1]),
 'all_classes': array([b'0', b'1'], dtype=object)}

In [46]:
y_pred = []
for pred in predictions:
    y_pred.append(pred['class_ids'][0])

In [47]:
y_pred[:10]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [48]:
from sklearn.metrics import classification_report,confusion_matrix

In [49]:
confusion_matrix(y_test,y_pred)

array([[6733,  703],
       [ 913, 1420]], dtype=int64)

In [50]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.91      0.89      7436
           1       0.67      0.61      0.64      2333

    accuracy                           0.83      9769
   macro avg       0.77      0.76      0.77      9769
weighted avg       0.83      0.83      0.83      9769